[flake8]
# @see https://flake8.pycqa.org/en/latest/user/configuration.html?highlight=.flake8

exclude =
    ckan
    scripts
    .git
    .venv

# Extended output format.
format = pylint

count = True

# Show the source of errors.
show_source = True

statistics = True

max-complexity = 27
max-line-length=127

# List ignore rules one per line.
ignore =
    C901
    E501
    W503
