{% ckan_extends %}
{% import 'macros/form.html' as form %}

{% block additional_fields %}
  {{ super() }}
  {% if h.check_ckan_version(min_version='2.11') %}
    {% set field_prefix = 'fields__' %}
  {% else %}
    {% set field_prefix = 'info__' %}
  {% endif %}
  {% set selected_value = field.get('info', {}).get('strip_extra_white', field.get('strip_extra_white', true)) %}
  {{ form.select(field_prefix ~ position ~ '__strip_extra_white',
    label=_('Strip Extra Leading and Trailing White Space'), options=[
    {'text': _('Yes'), 'value': true},
    {'text': _('No'), 'value': false},
    ], selected=selected_value) }}
{% endblock %}
